runs/
**/runs/
node_modules/
**/node_modules/
dist/
**/dist/
.venv/
**/.venv/
.meep-env/
**/.meep-env/
.tcad-env/
**/.tcad-env/
rayoptics-env/
**/rayoptics-env/
__pycache__/
**/__pycache__/
.pytest_cache/
**/.pytest_cache/
.DS_Store
*.zip
*.rtf
*.png
*.log
